body {
    scroll-behavior: smooth;
    text-align: center;
    font-family: Inconsolata;
  }
  html{
    scroll-behavior: smooth;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 50px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .education_title {
    text-align: center;
  }
  .education_skills {
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    background: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), url("img/background1.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-content: center;
    height: 100%;
  }
  .headshot img {
    margin-top: 30px;
    vertical-align: middle;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    height: 33%;
    box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
  }
  .project_image img{
    border-radius: 10px;
    max-width: 600px;
    align-content: right;
    max-height: 200px;
  }
  .project_card {
    background-color: grey;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 60px;
    margin-left: 12%;
    margin-right: 12%;
}
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    margin-top: 5%;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:black; }
  }
  .about {
    background-color: white;
  }
  .projects {
    margin-bottom: 60px;
  }
  .project_description{
    text-align: left;
  }
  .image_caption h3{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    align-content: middle;
    width: 185px;
    text-align: center;
    background-color: grey;
  }
  .description {
    text-align: center;
  }
  .button a{
    border: none;
    color: grey;
    border-radius: 10%;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Inconsolata;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  a {
    color: whitesmoke;
    padding: 3px;
    margin:10px;
  }
  @media screen and (max-width: 768px) {
    .typewriter h1 {
      font-size: 140%;
      margin-top: 5%;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 5.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    .header {
      background: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), url("img/background1.jpg");
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      background-attachment: local;
      align-content: center;
      height: 100%;
    }
    .button a{
      border: none;
      color: grey;
      border-radius: 10%;
      padding: 1%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: Inconsolata;
      font-size: 125%;
      transition-duration: 0.2s;
      cursor: pointer;
     }
    .about-card {
      background-color: whitesmoke;
      border-radius: 10px;
      padding: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    .about img{
      border-radius: 10%;
      max-width: 400px;
      max-height: 400px;
      margin-top: auto;
      margin-bottom: 20px;
      box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
    }
    .project_card {
      background-color: grey;
      border-radius: 10px;
      padding: 10px 20px;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
    }
   .project_image img{
      border-radius: 10px;
      max-width: 90%;
      align-content: right;
      max-height: 20%;
   }
   .headshot img {
    margin-top: 5px;
    vertical-align: middle;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 30%;
    box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
   }
   h1 {
    font-size: 280%;
    }
    p {
      font-size: 60%;
    }
  }
  .about{
    background: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), url("img/background3.jpg");
  }
  .about-card {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .about img{
    border-radius: 10%;
    max-width: 80%;
    max-height: 80%;
    margin-top: auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
  }
  .button5{
    background-color: whitesmoke;
    color: whitesmoke;
    border: 2px solid grey;
  }

  .button5:hover{
    background-color: grey;
  }
  
  .button5:hover a{
    color: white;
  }
  a:hover{
    text-decoration: none;
  }
  .card-deck {
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 30px;
    margin-top: 26px;
  }
  .navbar{
    text-align:center; 
    float:none;
    display: inline-block;
   }
  h1 {
        color: white;
        text-align: top;
        font-size: 200%;
        padding: 5px;
  }
 .navbar a:hover {
      color: grey;
      text-decoration: none;
  }
  .contact{
    background-color:whitesmoke;
  }
  .fa {
    padding: 1px;
    width: 30px;
    font-size: 200%;
    margin-top: 60px;
    margin-bottom:60px;
    text-align: center;
    text-decoration: none;
  }

  .fa a{
    color: whitesmoke;
    text-decoration: none;
  }
  .fa:hover {
      opacity: 0.7;
  }
  .fa a:hover {
    text-decoration: none;
    opacity: 0.7;
}
  
  .fa-facebook {
    color: grey;
  }
  
  .fa-twitter {
    color: grey;
  }
  .fa-linkedin {
    color: grey;
  }
  .fa-envelope-square{
    color: grey;
  }
  .fa-instagram {
    color: grey;
  }
  h2 {
      color: grey;
      font-size: 400%;
      padding: 50px;
  }
  h3 {
    font-size: 180%;
    color: white;
    text-align: center;
  }
  h4 {
    font-size: 180%;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
  }
  h5 {
    font-size: 180%;
    color: grey;
    font-weight: bold;
    text-align: center;
  }
  h6 {
    font-size: 400%;
    padding: 50px;
    color: whitesmoke
  }
  h7 {
    font-size: 180%;
    color: grey;
    background-color: whitesmoke;
    font-weight: bold;
    text-align: center;
  }
  h8{
    padding: 10px;
    font-size: 100%;
    color: grey;
  }
  p {
        font-size: 200%;
        padding: 15px;
        color:whitesmoke;
  }
  p2 {
        font-size: 125%;
        padding: 50px;
        color: grey;
  }
  p3 {
    font-size: 125%;
    padding: 50px;
    color: whitesmoke;
}
  p4 {
    font-size: 100%;
    color: grey;
  }
