body {
    background: red;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 50px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid white;
  }
  
  .button1:hover {
    background-color: red;
    color: white;
  }
  img {
    opacity: 0.5;
  }
  h1 {
        color: whitesmoke;
        font-family: helvetica;
        font-size: 400%;
        padding: 50px
  }
  p {
        font-family: helvetica;
        font-size: 200%;
        padding: 50px;
        color:whitesmoke;
  }